@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-size: cover;
    background: url("./images/4.3d0d57dd.jpg");
}

a, a:hover{
    color: #000000;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1785px;
}
.card{
    box-shadow: 0 0 10px rgba(0,0,0,0.3)!important;
    margin-top: 5%!important;
    margin-bottom: 5%!important;
    border-radius: 10px;
}
table{
    font-size: 12px!important;
    vertical-align: center!important;
}
.table-div-first{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
.table-div-second{
    background: rgb(245, 245, 245);
    border-radius: 10px!important;
    overflow-x: auto;
}
.table-wagons thead{
    display: block;
}
.table-wagons tbody{
    display: block;
    width: 100%;
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: auto;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}
table th, td{
    vertical-align: middle!important;
    border-bottom: 1px solid #dee2e6;
    /*border-bottom: thin solid hsla(0,0%,100%,.12)!important;*/
}
.table td, .table th {
    border-top: none!important;
}
.row-number{
    min-width: 60px;
}
.carnumber{
    min-width: 150px;
}
.codestfrom, .codestdest,.codestcurrent{
    min-width: 240px;
}
.departure-date{
    min-width: 150px;
}
.oper_date_last{
    min-width: 155px;
}
.codeoper,.weight{
    min-width: 95px;
}
.codecargo{
    min-width: 230px;
}
.date_ins{
    min-width: 200px;
}

.owner_name,.operator_name,.gruz_sender_name,.gruz_receiver_name{
    min-width: 300px;
}

.form-inline{
    margin-bottom: 1rem;
}
.custom-select{
    width:auto!important;
}

.card-header-table{
    padding: 20px;
    width: auto;
    height: auto;
    align-items: center;
}
.table-icon{
    overflow: hidden;
    float: left;
    border-radius: 4px;
    background: #0288d1;
    border-color: #0288d1;
    width: 90px;
    height: 90px;
    margin-top: -40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3)!important;
}
.div-btn-add-user{
    float: right;
}
.btn-add-user:focus{
    background:#f5f5f5!important;
    border: #f5f5f5!important;
    box-shadow: none!important;
}
.btn-add-user{
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: #f5f5f5;
}
.btn-add-user:hover{
    background-color:silver!important;
    transition: .5s;
}
.btn-table-users{
    width: 42px;
    height: 42px;
    border: none;
    background: none;
    border-radius: 50%;
}
.btn-table-users:focus{
    background:none!important;
    border: none!important;
    box-shadow: none!important;
}
.btn-table-users:hover{
    background-color:#f5f5f5!important;
    transition: .5s;
}

.btn-logout{
    background: #f5f5f5!important;
    color: black!important;
    letter-spacing: .0892857143em!important;
    font-weight: 500!important;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-color: #f5f5f5 !important;
}
.btn-logout:focus{
    background:none!important;
    border: none!important;
    box-shadow: none!important;
}
.btn-logout:hover{
    background-color: silver!important;
    border-color: silver!important;
    transition: .5s;
}

.card-actions{
    text-align: center;
    margin-top: 10px;
}

.btn-cancel{
    background: #f5f5f5!important;
    color: black!important;
    letter-spacing: .0892857143em!important;
    font-weight: 500!important;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-color: #f5f5f5 !important;
    margin-left: 10px;
}
.btn-cancel:focus{
    background:none!important;
    border: none!important;
    box-shadow: none!important;
}
.btn-cancel:hover{
    background-color: silver!important;
    border-color: silver!important;
    transition: .5s;
}

.btn-save{
    background: #0288d1!important;
    color: white!important;
    letter-spacing: .0892857143em!important;
    font-weight: 500!important;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-color: #0288d1!important;
}

li a{
    color: #fff;
    padding: 0 1rem;
}

.nav-link {
    padding: 0;
}

.popup-content{
    background:none!important;
    border: none!important;
}

.NavLink{
    margin: 0 1rem!important;
    color: #fff!important;
}

.auth{
    margin-top: 5%;
}
/* 
.row {
    display: block!important;
} */

.div-chevron{
    margin-left: 10px;
    margin-right: 10px;
}

.btn-chevron-left-right:focus{
    background:none;
    border: none;
    box-shadow: none;
}
.btn-chevron-left-right{
    width: 42px;
    height: 42px;
    border: none;
    background: none;
    border-radius: 50%;
}
.btn-chevron-left-right:hover{
    background-color:#f5f5f5!important;
    transition: .5s;
}
.btn-chevron-left-right:disabled{
    background:none;
    border: none;
    box-shadow: none;
}

.btn {
    margin: 5px;
}

.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}

.center {  
    margin: 0;
    position: absolute;
    top: 30%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media (max-width: 575.98px) {
    .auth-page{
        width: auto;margin: auto;
    }
    .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .auth-page{
        width: auto;margin: auto;
    }
    .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .auth-page{
        width: 50%;margin: auto;
    }
    .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .auth-page{
        width: 50%;margin: auto;
    }
    .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
    }
}
@media (min-width: 1200px) {
    .auth-page{
        width: 30%;margin: auto;
    }
    .navbar-collapse{
        display: flex!important;
        flex-basis: auto;
    }
}
.nav-item{
    margin-left: 10px;
}

.switch {
    position: relative;
    margin-top: 9px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #085d96;
}

input:checked + .slider:before {
    background-color: #0288d1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #085d96;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}