@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    font-family: "Helvetica Neue";
    font-size: 18px;
}

thead{
    border-top:hidden;
}

.table-div{
    padding: 1rem 1rem 1rem;
}

li a{
    color: #fff;
    padding: 0 1rem;
}

.nav-link {
    padding: 0;
}

.popup-content{
    background:none!important;
    border: none!important;
}

.NavLink{
    margin: 0 1rem!important;
    color: #fff!important;
}

.auth{
    margin-top: 5%;
}

.row {
    display: block!important;
}